@import url(sanitize.css);

body {
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
}

.h-nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B90303;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    z-index: 100;
}

/* .h-nav-items {

} */

.top-image {
    position: relative;
}

.top-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* margin-top: 80px; */
}

.top-image p {
    position: absolute;
    left: 2rem;
    bottom: 3rem;
    color: white;
    font-size: 0.75rem;
    line-height: 1.7;
}

.main-section {
    width: 85%;
    margin: 0 auto;

}

/* 共通 */
/* タイトル */

.title {
    color: #B90303;
}

.title h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0px;
}

.title h3 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.title hr {
    width: 60px;
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
    border-color: #B90303;
}

/* ボタン */
.button {
    text-align: center;
}
.button .btn {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    color: white;
    background: #B90303;
    text-decoration: none;
}

/* お知らせセクション */

.news-section {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.news-section .news {
    margin-top: 2rem;
}

.news-section .news hr {
    border: none;
    border-top: 1px dashed;
}

.news-section .news ul {
    padding: 0;
    list-style-type: none;
}

.news-section .news li {
    margin: 16px 0px;
    list-style-type: none;
}

.news-section .circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #B90303;
    margin-right: 0.5rem;
    margin-bottom: 1px;
}

/* aboutセクション */
 
.about-section {
    padding-top: 3rem;
}

.about-section h1 {
    font-size: 1.25rem;
}

.about-section p {
    line-height: 1.6;
}

.about-section .about-img {
    margin-top: 2rem;
    text-align: center;
}

/* メニューセクション */
 
.menu-section {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
}

.menu-item {
    margin-top: 1rem;
}

.menu-item:nth-child(odd) {
    margin-right: 0.5rem;
}

.menu-item:nth-child(even) {
    margin-left: 0.5rem;
}

.menu-item img {
    width: 100%;
    border-radius: 0.25rem;
}

.menu-item span {
    display: block;
}

.item-name {
    font-weight: 600;
    padding-top: 0.25rem;
}
