@import url(sanitize.css);

body {
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
}

.h-nav {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B90303;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    z-index: 100;
}

/* .h-nav-items {

} */

.top-image {
    position: relative;
}

.top-image img {
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
    /* margin-top: 80px; */
}

.top-image p {
    position: absolute;
    left: 32px;
    bottom: 100px;
    color: white;
    font-size: 0.75rem;
    line-height: 1.7;
}

.main-section {
    width: 90%;
    margin: 0 auto;
    font-size: 0.875rem;
}

/* ======================
    共通 
====================== */

/* タイトル */
.title {
    color: #B90303;
}

.title h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0px;
}

.title h3 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.title hr {
    width: 60px;
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
    border-color: #B90303;
}

/* ボタン */
.button {
    text-align: right;
}

.material-symbols-outlined {
    font-size: 1.25rem;
    transform: rotate(-90deg);
    vertical-align: -4px;
    margin-left: 0.25rem;
}

.button .btn {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

/* ======================
    newsセクション
====================== */

.news-section {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.news-section .news {
    margin: 1.5rem 0 0.75rem 0;
}

.news-section .news hr {
    border: none;
    border-top: 1px dashed;
}

.news-section .news ul {
    padding: 0 0 0 1rem;
    list-style-type: none;
}

.news-section .news li {
    margin: 0.75rem 0;
    list-style-type: none;
}

.news-section .news p {
    margin: 0px;
    color: #a1a1a1;
}

.news-section .news a {
    text-decoration: none;
    color: #000;
}

.news-section .circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #B90303;
    margin-right: 0.5rem;
    margin-bottom: 1px;
}

/* ======================
    aboutセクション
====================== */
 
.about-section {
    padding-top: 2rem;
}

.about-section h4 {
    margin: 1.5rem 0 1rem 0;
    font-size: 1.25rem;
}

.about-section p {
    line-height: 1.6;
}

.about-section .about-img {
    margin-top: 2rem;
    text-align: center;
}

/* ======================
    menuセクション
====================== */
 
.menu-section {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1.5rem;
}

.menu-item {
    margin-top: 1rem;
}

.menu-item:nth-child(odd) {
    margin-right: 0.5rem;
}

.menu-item:nth-child(even) {
    margin-left: 0.5rem;
}

.menu-item img {
    width: 100%;
    /* border-radius: 0.25rem; */
}

.menu-item span {
    display: block;
}

.item-name {
    font-weight: 600;
    padding-top: 0.25rem;
}

/* ======================
    accessセクション
====================== */

.access-section {
    padding: 1.5rem 0 3rem 0;
}

.access-section .title {
    margin-bottom: 2rem;
}

.store {
    margin-bottom: 2rem;
}

.store img {
    width: 100%;
}

.store p {
    margin: 0;
    line-height: 1.6;
}

.store-name {
    font-size: 1rem !important;
    font-weight: 800;
    color: #B90303;
    margin-top: 0.5rem !important;
}

.map {
    width: 100%;
    height: 240px;
}

.access ul {
    margin-top: 1.5rem;
    padding: 0;
}

.access li {
    list-style-type: none;
    margin-bottom: 1.75rem;
}

.access h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px dashed;
}

.access p {
    margin: 0;
}

.access-section .circle {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #B90303;
    margin-right: 0.5rem;
    vertical-align: -2px;
}

/* ======================
    footer
====================== */

footer {
    background-color: #B90303;
}

.f-container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0 2.5rem 0;
    font-size: 0.875rem;
}

.f-store {
    margin-bottom: 1.25rem;
}

.f-store p {
    margin: 0;
    line-height: 1.6;
    color: white;
}

.f-store-name {
    font-size: 1rem !important;
    font-weight: 800;
    margin-top: 0.5rem !important;
}

.f-container .circle {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: white;
    margin-right: 0.5rem;
}